{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
      <section class="main-section flex-item">
          <h3>Add New Dance School </h3>
          <div class="top-div">
              <div class="left-top-div flex-div">
                  <form action="{{url_for('createDanceSchool')}}" method="POST">
                      <table>
                          <tr>
                              <td> Name :</td>
                              <td><input type="text" name="name"></td>
                          </tr>
                          <tr>
                              <td> Address:</td>
                              <td><textarea name="address" cols="35" rows="4">
                                  </textarea></td>
                          </tr>
                          <tr>
                              <td><input type="submit" value="Create"> </td>
                          </tr>
                      </table>
                  </form>
              </div>
              <div class="right-top-div flex-div">
                  <span>
                      <a href='{{url_for('showDanceSchools')}}'>
                      Back</a>
                  </span>
              </div>
              <div class="top-div-clearfix"></div>
          </div>
      </section>
{% endblock %}
