/* rules applicable for whole page */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
  font-family: Courier;
  padding: 0;
  margin: 0;
}

/* main container part */
.container {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

.flex-item {
    flex: 1;
}

/* Header part */
.main-header {
    width: 100%;
    height: 100px;
    display: block;
    top : 0;
    position: fixed;
    border-bottom: 5px solid #911454;
    order: 0;
    padding: 5px;
    background-image: url("background.jpg");
}

.left-header {
    width: 50%;
    padding : 5px;
    float: left;
    display: block;
    height: 100%;
    align-content: center;
}

.right-header {
    width: 50%;
    padding: 5px;
    float: right;
    display: block;
    text-align: right;
    padding-top : 20px;
    height: 100%;
}

.main-clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.left-clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.header-logo-image {
    height: auto;
    display: block;
    float: left;
}

.header-title {
    display: block;
    float: none;
    padding-left: 15px;
}

.logo-image {
    max-width: 100%;
    height: auto;
    margin-right: 5px;
    border: 2px solid #911454;
}

.header-anchor {
    text-decoration: underline;
    font-stretch: expanded;
    color: #c61d5e;
}

.header-span {
    color: #c61d5e;
    font-weight: bolder;
}

/* Login page */
.login-section {
    align-self: center;
    padding-top: 105px;
    width: 50%;
}

.login-box {
    align-self: center;
    border: 8px solid #911454;
    border-radius: 25px;
    text-align: center;
    vertical-align: center;
    margin: 5px;
}

/* section part */
.main-section {
    order: 1;
    padding-top: 105px;
}

.top-div {
    width: 100%;
    display: flex;
}

.left-top-div {
    width: 70%;
    display: block;
    float: left;
    order: 0;
}

.right-top-div {
    width: 30%;
    display: block;
    float: right;
    text-align: right;
    order: 1;
}

.top-div-clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.flex-div {
    flex: 1;
}

a {
    font-stretch: expanded;
    font-weight: bold;
    color : #285691;
}

h3 {
    text-decoration-color: #911454;
}

.title {
    font-style: italic;
    font-weight: bold;
}

table {
    align-self: center;
    border: 5px solid #911454;
    border-radius: 10px;
}

td {
    align-items: center;
}


/* media query for screen widths upto 400px */
@media only screen and (max-width: 400px) {
    .container {
        flex-direction: column;
    }

    .top-div {
      flex-direction: column;
    }

    .main-header {
        height: 185px;
    }

    .main-section {
        padding-top: 190px;
    }

    .login-section {
        padding-top: 190px;
    }
}

/* media query for screen widths between 401px to 550px */
@media only screen and (max-width: 550px) and (min-width :401px) {
    .container {
        flex-direction: column;
    }

    .top-div {
      flex-direction: column;
    }

    .main-header {
        height: 150px;
    }

    .main-section {
        padding-top: 155px;
    }

    .login-section {
        padding-top: 155px;
    }
}

/* media query for screen widths  ranging from 551px to 800px */
@media only screen and (max-width: 800px) and (min-width: 551px) {
    .container {
        flex-direction: column;
    }

    .top-div {
      flex-direction: column;
    }
}
